#### Importing Pandas Library.

In [ ]:
import pandas as pd

#### Reading the CSV file having ESB data and loading it to "data" dataframe .

In [ ]:
data = pd.read_csv("data/esb.csv",header=None)

#### Displaying the loaded ESB data.

In [ ]:
data

### Data Preperation: Includes Data cleaning, filling or removing missing values and removing unused columns.
#### Segregating the city councils from the "data" dataframe.

In [ ]:
data.iloc[33]=data.iloc[33].str.replace('Cork', 'Cork_CityCouncil')
data.iloc[34]=data.iloc[34].str.replace('Dublin', 'Dublin_CityCouncil')
data.iloc[35]=data.iloc[35].str.replace('Galway', 'Galway_CityCouncil')
data.iloc[36]=data.iloc[36].str.replace('Limerick', 'Limerick_CityCouncil')
data.iloc[37]=data.iloc[37].str.replace('Waterford', 'Waterford_CityCouncil')

#### Assigning the values of second row  as the column headings.

In [ ]:
data.columns=data.iloc[2]

#### Eliminating the "total" columns for each year from "data" dataframe.

In [ ]:
data.drop(["Total"],
                  axis=1,inplace=True)

#### Eliminating the rows indexed at 0,38 and 32nd positions.

In [ ]:
data.drop([0,38,32],axis=0,inplace=True)

#### Data obtained post deleting the columns and rows.

In [ ]:
data

#### Assigning the values of the first row to variable data1.

In [ ]:
data1=data.iloc[0].values

#### Creating new column names as per the data available in the dataframe. Eliminating 'NaN' from data1 by replacing NaN for every year with month appended . The columns contain Councils with each month and year appended to it.

In [ ]:
d=["County Councils"]
months=["Feb-","Mar-","Apr-","May-","Jun-","Jul-","Aug-","Sep-","Oct-","Nov-","Dec-"]
k=0
for i in data1[1:13]:
    if str(i)=="nan":
        i="2006"
        d.append(months[k]+i)
        k +=1
    else:
        d.append("Jan-"+i)
k=0
for i in data1[13:25]:
    if str(i)=="nan":
        i="2007"
        d.append(months[k]+i)
        k +=1
    else:
        d.append("Jan-"+i)
k=0
for i in data1[25:37]:
    if str(i)=="nan":
        i="2008"
        d.append(months[k]+i)
        k +=1
    else:
        d.append("Jan-"+i)
k=0
for i in data1[37:49]:
    if str(i)=="nan":
        i="2009"
        d.append(months[k]+i)
        k +=1
    else:
        d.append("Jan-"+i)
k=0
for i in data1[49:61]:
    if str(i)=="nan":
        i="2010"
        d.append(months[k]+i)
        k +=1
    else:
        d.append("Jan-"+i)
k=0
for i in data1[61:73]:
    if str(i)=="nan":
        i="2011"
        d.append(months[k]+i)
        k +=1
    else:
        d.append("Jan-"+i)
k=0
for i in data1[73:85]:
    if str(i)=="nan":
        i="2012"
        d.append(months[k]+i)
        k +=1
    else:
        d.append("Jan-"+i)
k=0
for i in data1[85:97]:
    if str(i)=="nan":
        i="2013"
        d.append(months[k]+i)
        k +=1
    else:
        d.append("Jan-"+i)
k=0

#### Assigning the generated column names for the "data" dataframe.

In [ ]:
data.columns=d

In [ ]:
data

#### Eliminating the below indexed rows as a part of data cleaning which contains data about the year, month and total connections in a particular month.

In [ ]:
data.drop([1,2,39],axis=0,inplace=True)

In [ ]:
data.head()

#### Melting the dataframe to obtain it in a tidy format. For the melt function, I'm considering "County Councils" as my unique identifier with "Month-year" as identifier variable and ESB value as the value. The melted dataframe "data_clean" contains the city name with the connection value for each month of the year from 2006 to 2013.

In [ ]:
data_clean = pd.melt(
    data,
    id_vars=['County Councils'],
    var_name=['Month-year'],
    value_name='Connection_Num'
)

#### Seperating the Month and Year columns.

In [ ]:
data_clean["Month"]=data_clean["Month-year"].str.split('-',expand=True)[0]
data_clean["Year"]=data_clean["Month-year"].str.split('-',expand=True)[1]

#### Dropping the column "Month-year" column as we have already seperated them in the above code.

In [ ]:
data_clean.drop(["Month-year"],axis=1,inplace=True)

#### Eliminating the "#" present in 2316th location.

In [ ]:
data_clean.iloc[2316]=data_clean.iloc[2316].str.replace("#","")

In [ ]:
data_clean

#### Ordering and Renaming the column names.

In [ ]:
new_order = ['County Councils','Year','Month','Connection_Num']
data_clean = data_clean[new_order]
data_clean.columns=['Councils','Year','Month','Connection_Num']

In [ ]:
data_clean

#### Exporting the tidy data for further manipulations.

In [ ]:
data_clean.to_csv(r'data/tidy_data.csv',index=False)

#### Visualisations for my tidied data is provided in my Second Notebook.